<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Delicious</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home">Home</a>
            </div>

            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav">
                    <li class="">
                        <a href="menu">
                            <span class="glyphicon glyphicon-book"></span>&nbsp;Menu
                        </a>
                    </li>
                    <li class="">
                        <a href="order">
                            <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Order Meal
                        </a>
                    </li>
                    <li class="">
                        <a href="book">
                            <span class="glyphicon glyphicon-calendar"></span>&nbsp;Book a Seat
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="about">
                            <span class="glyphicon glyphicon-info-sign"></span>&nbsp;About Us
                        </a>
                    </li>
                    <li class="">
                        <a href="contact">
                            <span class="glyphicon glyphicon-earphone"></span>&nbsp;Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>Delicious</h1>
    <div id="image"></div>

        <div class="contact_form">
            <form method="POST">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="wyślij">
            </form>
        </div>

    <footer>
		<strong id="1">
            <a href="home">Home</a></li>
            &#8208;
            <a href="menu">Menu</a></li>
            &#8208;
            <a href="order">Order Meal</a></li>
            &#8208;
            <a href="book">Book a Seat</a></li>
            &#8208;
            <a href="about">About Us</a></li>
            &#8208;
            <a href="contact">Contact</a></li><br>
            {{ now }}
		</strong>
    </footer>


<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap/min.js"></script>-->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>